<style>
.container{
  background: #fefade;
}

img{
    /*width:500px; height:250px;*/
    /*margin-left: 300px;*/
    width:1050px;
}

.buttonMove{
    margin-top: 80px;
}

#buttonNext{
  float: right;
  margin-left: -20px
}

#buttonPrevious{
  float: left;



}
#buttonReserver{
  margin-left: 540px;
  margin-top: 50px;
}

.zoneInfosVehicle{
  margin-left: 500px;
font-size: 20px;
margin-top: 20px;
}


#result{
    margin-top: 20px;
}
.container{
  margin-top: 20px;
}


#statusReservation{
  color: red;
}
</style>

<div>

  <meta charset="utf-8"/>


<div ng-controller="bookVehicleController as bookingCtrl">
<div class="container">
  <h1>Réserver un véhicule de société</h1><br />
  <div class="row">
      <div class='col col-lg-4 col-lg-offset-2'>
          <div class="form-group">
            <span>Date/Heure de départ</span>
              <div class='input-group date' id='datetimepicker1'>
                  <input type='datetime-local' class="form-control" placeholder="Date de départ" ng-model='booking.dateFirst'/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>


      <div class='col col-lg-4'>
          <div class="form-group">
            <span>Date/Heure de retour</span>
              <div class='input-group date' id='datetimepicker1'>
                  <input type='datetime-local' class="form-control" placeholder="Date de retour" ng-model='booking.dateLast'/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>

  </div>

<h3>Nos véhicules</h3>

<div id="result" class="alert alert-success " ng-if='bookingCtrl.result != null'>
  <strong>Info!</strong> {{bookingCtrl.result}}
    <i class="fa fa-spinner fa-spin" style="font-size:24px; color:red; float:right" ng-if="bookingCtrl.result == 'Votre réservation est enregistré avec succèss :)'"></i>
</div>

<div class="buttonMove">
  <div id="buttonNext">
    <button class="btn btn-primary btn-success" ng-click="bookingCtrl.next()"> >> </button>
  </div>
  <div id="buttonPrevious">
    <button class="btn btn-primary btn-success" ng-click="bookingCtrl.previous()"> << </button>
  </div>

</div>

<img ng-src="{{bookingCtrl.vehicles[bookingCtrl.currentId].urlImg}}"/><br />

<div class="zoneInfosVehicle">

  <span >Matricule: {{bookingCtrl.vehicles[bookingCtrl.currentId].licensePlate}}</span><br />
  <span >Marque: {{bookingCtrl.vehicles[bookingCtrl.currentId].brand}}</span><br />
  <span >Model: {{bookingCtrl.vehicles[bookingCtrl.currentId].model}}</span><br />
  <span >Capacité: {{bookingCtrl.vehicles[bookingCtrl.currentId].capacity}}</span><br />
  <span >Status: {{bookingCtrl.vehicles[bookingCtrl.currentId].status}}</span><br />
  <div ng-if='bookingCtrl.bookings[bookingCtrl.currentId].statut != null '>
    <span id="statusReservation">Status de réservation: {{bookingCtrl.bookings[bookingCtrl.currentId].statut}} </span>
  </div>

</div>


<div class="reservation">

  <button id="buttonReserver" class="btn btn-primary btn-success"

   class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
  Réserver
  </button>





</div>

<!---->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Réservation d'un véhicule</h4>
        </div>
        <div class="modal-body">
          <p>Date/heure de réservation : {{booking.dateFirst}}</p>
          <p>Date/heure de retour : {{booking.dateLast}}</p>
          <p>Immatriculation: {{bookingCtrl.vehicles[bookingCtrl.currentId].licensePlate}}</p>
          <p>Marque: {{bookingCtrl.vehicles[bookingCtrl.currentId].brand}}</p>
          <p>Modèle: {{bookingCtrl.vehicles[bookingCtrl.currentId].model}}</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary btn-success"
          ng-click='bookingCtrl.reserveVehicleSociety(bookingCtrl.vehicles[bookingCtrl.currentId].licensePlate, booking)'
          data-dismiss="modal">
          Réserver</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---->

<!--test DAte-->

<!-- <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Date et heure de réservation
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body" >
                    <div class="col-md-6">
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup={{$ctrl.format}} ng-model="$ctrl.dateReservation.depart" is-open="$ctrl.popup.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                            <div uib-timepicker ng-model="$ctrl.mytimeReservation.depart" ng-change="$ctrl.changed()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep" show-meridian="$ctrl.ismeridian"></div>
                          </span>

                        </p>
                    </div>

                </div>
            </div>
        </div>
        <span>date départ: {{$ctrl.dateReservation.depart}}</span>

    </div>



    <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Date et heure de retour
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body" >
                        <div class="col-md-6">
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup={{$ctrl.format}} ng-model="$ctrl.dateReservation.retour" is-open="$ctrl.popup.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                <div uib-timepicker ng-model="$ctrl.mytimeReservation.retour" ng-change="$ctrl.changed()" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep" show-meridian="$ctrl.ismeridian"></div>
                              </span>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <span>date retour: {{$ctrl.dateReservation.retour}}</span><br />
            <button ng-click='$ctrl.save()'>Save</button>
        </div> -->

<!---->
</div>
</div>
</div>
