
#header{
height: 200px;
background-image: url("./statique/img/blahblahcar.jpg");

}
.zoneMenu{

background: #181f3f !important;
display: block;
margin-top: 3px;
}

.menu{
  display: block;
  background: #f09100;
  padding: 6px;
  color: white;
  margin-right: 0px;
  text-align: center;

}

.zoneAuthentif{

  display: block;
  margin-top: 23px;
  margin-right: -95px;


}
.authentif{
  background: #5678f7;
  padding: 12px;
  margin-right: 2px;
  color: white;
  text-align: center;

}



a div{
  color: black;
}

.zoneLogo img{
  width: 175px;
  height: 72px;
}

a div{
  transform-style: preserve-3d;
}
a div:hover{

  border-collapse: 30px;
	color: white;
	font-size: 17px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

a div:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 52px;
	background: rgba(255,255,255,0.2);
	border-radius: 5px;
	transition: all 1s ease;
}

a div:hover:before {
	width: 100%;
}
