<div>

    <h1 class="col-xs-offset-1">Vos annonces</h1>
    <div class="col-xs-offset-9">
        <a href="collaborateur/annonces/creer"><input type="button" class="btn btn-primary" value="Créer une nouvelle annonce"></a> 
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
        <h4>Annonces en cours</h4>
        <table class= "table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date / heure de départ</th>
                    <th>Lieu de départ</th>
                    <th>Lieu de d'arriver</th>
                    <th>Nombre de voyageurs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="advert in $ctrl.list">
                    <td>{{advert.dateFirst}}</td>
                    <td>{{advert.addressDeparture}}</td>
                    <td>{{advert.addressArrival}}</td>
                    <td>{{advert.passengerCount}}</td>
                    <td> <input type="button" ng-click="$ctrl.cancelled(advert.id)" class="btn btn-danger" value="Annuler">
                </tr>
            </tbody>
        </table>
        <h4>Historique</h4>
        <table class= "table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date / heure de départ</th>
                        <th>Lieu de départ</th>
                        <th>Lieu de d'arriver</th>
                        <th>Nombre de voyageurs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="advert in $ctrl.listEnd | orderBy:'dateFirst':true | limitTo:$ctrl.itemsPerPage:$ctrl.itemsPerPage*($ctrl.currentPage-1)">
                        <td>{{advert.dateFirst}}</td>
                        <td>{{advert.addressDeparture}}</td>
                        <td>{{advert.addressArrival}}</td>
                        <td>{{advert.passengerCount}}</td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="$ctrl.maxSize" items-per-page="$ctrl.itemsPerPage" class="pagination-sm pull-right" boundary-link-numbers="true"></ul>
    </div>
</div>